<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
      <link rel='stylesheet' href='stylesheets/style.css'  />
      <link rel="stylesheet" href="bss.css" />
      <script type="application/json" id="cfg"><%- JData%></script>
  </head>
  <body ng-app="br" ng-controller="bannerController">

  <div id="shadow" ng-show="waiting">
    <div></div>
  </div>
  <menu>
      <drop items="scenes" title="位置选择" role="scene" icon-src="images/location.png"></drop>
      <drop items="states" title="场景选择" role="state" icon-src="images/modle1.png"></drop>
      <drop items="modes"  title="状态选择" role="mode" icon-src="images/sun.png"></drop>
      <icon-range icon-src="images/tem.png" unit="k" role="tem" min="2500" max="8000" step="100" value="3000"></icon-range>
      <icon-range icon-src="images/light.png" unit="%" value="0" role="w0" min="0" max="100" step="1" title="重点"></icon-range>
      <icon-range icon-src="images/light.png" unit="%" value="0" role="w1" min="0" max="100" step="1" title="周边"></icon-range>
  </menu>
  <div ng-show="covering">
      <img src="images/entry_title.jpg" class="cover">
      <img src="images/entry.jpg" class="cover">
  </div>
  <canvas id="glcvs"></canvas>
  <script src="js/bin/bgl.min.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <script src="js/bin/ng.min.js"></script>
  <link rel="stylesheet" src="stylesheets/angular-csp.css">
  </body>
</html>
