<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='stylesheets/style.css'  />
      <link rel="stylesheet" href="bss.css" />
      <script src="js/base.js"></script>
      <script src="js/BGL.js"></script>
      <script src="js/bgl.util.js"></script>
  </head>
  <body ng-app="br" ng-controller="bannerController">
  <div id="shadow" ng-show="waiting">
    <div>
    <img src="images/loading.gif">
    </div>
  </div>
  <input type="hidden" value="<%= JData%>" id="cfg">
  <menu>
      <drop items="scenes" title="位置选择" role="scene" icon-src="images/location.png"></drop>
      <drop items="states" title="场景选择" role="state" icon-src="images/modle1.png"></drop>
      <drop items="modes"  title="状态选择" role="mode" icon-src="images/sun.png"></drop>
      <icon-range icon-src="images/tem.png" unit="k" role="tem" min="2500" max="8000" step="100" value="3000"></icon-range>
      <icon-range icon-src="images/lum.png" unit="%" value="100" role="lum" min="0" max="100" step="1"></icon-range>
  </menu>
  <canvas id="glcvs"></canvas>
  <script src="js/angular/angular.js"></script>
  <script src="js/ng-modules/init.js"></script>
  <script src="js/ng-modules/factory.js"></script>
  <script src="js/ng-modules/controller.js"></script>
  <script src="js/ng-modules/directive.js"></script>

 <!-- <script src="js/dom.js"></script>
  <script src="js/app.js"></script>-->
  <link rel="stylesheet" src="stylesheets/angular-csp.css">
  </body>
</html>
