.cover{
margin:0 auto;
display:block;
width:100%;
}
.dropHeader{
height:36px;
}
.dropHeader >img{
display:inline-block;
cursor:pointer;
height:18px;
width:18px;
}
.menu{
cursor:pointer;
background:#CCC;
margin:5px auto;
max-height:400px;
min-width:62px;
width:80%;
float:left;
min-height:0;
}
.menu::before{
transform:rotate(-45deg);
display:inline-block;
position:relative;
content:'';
top:-10px;
background:#CCC;
width:20px;
height:20px;
}
.menu >div::before{
background:#CCC;
display:inline-block;
box-sizing:border-box;
border-radius:10px;
border:3px solid rgb(93,93,93);
margin-right:5px;
width:10px;
height:10px;
content:'';
}
.menu >div:hover::before{
background:rgb(49,155,216);
border-color:white;
}
.menu >p,.menu >div{
margin:0 auto;
background:#CCC;
position:relative;
padding-top:4px;
display:block;
color:rgb(93,93,93);
top:-23px;
height:23px;
}
.menu >p:hover,.menu >div:hover{
color:white;
background:rgb(49,155,216);
}
.multi-range{
position:relative;
top:8px;
}
.multi-range .icon-range{
padding-top:12px;
width:100%;
}
.multi-range .icon-range input[type=range]{
margin-left:2px;
}
#shadow{
z-index:999;
position:absolute;
padding-top:36px;
background-color:transparent;
width:100%;
height:100%;
}
#shadow >div{
width:100%;
height:100%;
background:white;
}
p{
display:inline-block;
margin:0 0 0 9px;
cursor:pointer;
font:1.1em "黑体";
color:white;
}
menu{
margin:0 auto;
background:rgb(30,104,179);
min-width:1200px;
clear:both;
height:36px;
text-align:center;
}
menu .drop,menu .icon-range,menu .multi-range{
margin:0px auto;
min-width:100px;
display:inline-block;
clear:both;
height:36px;
}
menu .icon-range{
min-width:260px;
width:15%;
max-width:350px;
}
menu .multi-range{
min-width:340px;
width:20%;
}
menu .drop{
width:10%;
position:relative;
top:-10px;
}
*{
box-sizing:border-box;
}
body{
margin:0;
overflow:hidden;
}
.icon-range{
overflow:hidden;
}
.icon-range >input[type=range]{
margin:-2px auto auto 15px;
min-width:150px;
}
.icon-range >p{
overflow:hidden;
margin-left:1px;
text-overflow:clip;
padding-top:2px;
width:72px;
height:18px;
}
.icon-range >img{
cursor:pointer;
height:18px;
width:18px;
}
.icon-range >img,.icon-range >p,.icon-range >input{
display:inline-block;
float:left;
}
.active[type=range]{
background:#CCC;
border:none;
border-radius:20px;
-webkit-appearance:none;
width:127px;
height:20px;
outline:none;
}
.active[type=range]::-webkit-slider-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(49,155,216);
top:-8px;
-webkit-appearance:none;
width:20px;
height:20px;
}
.active[type=range]::-webkit-slider-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-webkit-slider-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-ms-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(49,155,216);
top:-8px;
width:20px;
height:20px;
}
.active[type=range]::-ms-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-ms-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-moz-range-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(49,155,216);
top:-8px;
width:20px;
height:20px;
}
.active[type=range]::-moz-range-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-moz-range-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-webkit-slider-runnable-track{
margin:5px;
background:rgb(49,155,216);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
.active[type=range]::-moz-range-track{
margin:5px;
background:rgb(49,155,216);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
.active[type=range]::-ms-track{
margin:5px;
background:rgb(49,155,216);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
.inactive[type=range]{
background:#CCC;
border:none;
border-radius:20px;
-webkit-appearance:none;
width:127px;
height:20px;
outline:none;
}
.inactive[type=range]::-webkit-slider-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(93,93,93);
top:-8px;
-webkit-appearance:none;
width:20px;
height:20px;
}
.inactive[type=range]::-webkit-slider-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-webkit-slider-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-ms-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(93,93,93);
top:-8px;
width:20px;
height:20px;
}
.inactive[type=range]::-ms-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-ms-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-moz-range-thumb{
cursor:pointer;
z-index:1;
background:white;
position:relative;
box-sizing:border-box;
border-radius:100%;
border:4px solid rgb(93,93,93);
top:-8px;
width:20px;
height:20px;
}
.inactive[type=range]::-moz-range-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-moz-range-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-webkit-slider-runnable-track{
margin:5px;
background:rgb(93,93,93);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
.inactive[type=range]::-moz-range-track{
margin:5px;
background:rgb(93,93,93);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
.inactive[type=range]::-ms-track{
margin:5px;
background:rgb(93,93,93);
box-sizing:content-box;
border-radius:0;
width:120px;
height:4px;
}
