.dropHeader{
height:36px;
}
.dropHeader >img{
display:inline-block;
cursor:pointer;
height:18px;
width:18px;
}
.menu{
min-width:62px;
cursor:pointer;
background:#CCC;
width:80%;
margin:5px auto;
max-height:400px;
min-height:0;
}
.menu::before{
transform:rotate(-45deg);
display:inline-block;
position:relative;
content:'';
top:-10px;
background:#CCC;
width:20px;
height:20px;
}
.menu >div::before{
display:inline-block;
content:'';
margin-right:5px;
background:#CCC;
width:10px;
border:3px solid rgb(93,93,93);
border-radius:10px;
height:10px;
box-sizing:border-box;
}
.menu >div:hover::before{
background:rgb(49,155,216);
border-color:white;
}
.menu >p,.menu >div{
display:block;
top:-23px;
background:#CCC;
margin:0 auto;
padding-top:4px;
color:rgb(93,93,93);
position:relative;
height:23px;
}
.menu >p:hover,.menu >div:hover{
color:white;
background:rgb(49,155,216);
}
#shadow{
z-index:999;
width:100%;
padding-top:36px;
background-color:transparent;
position:absolute;
height:100%;
}
#shadow >div{
width:100%;
height:100%;
background:white;
}
#shadow >div >img{
display:block;
margin:0 auto;
padding-top:100px;
}
p{
display:inline-block;
margin:0 0 0 9px;
cursor:pointer;
font:1.1em "黑体";
color:white;
}
menu{
min-width:900px;
clear:both;
background:rgb(30,104,179);
margin:0 auto;
text-align:center;
height:36px;
}
menu .drop,menu .icon-range{
min-width:100px;
display:inline-block;
margin:0px auto;
padding-top:9px;
float:left;
height:36px;
}
menu .icon-range{
min-width:250px;
width:25%;
}
menu .drop{
min-width:100px;
width:12%;
}
*{
box-sizing:border-box;
}
body{
margin:0;
overflow:hidden;
}
.icon-range{
overflow:hidden;
}
.icon-range >input[type=range]{
min-width:150px;
margin:-2px auto auto 15px;
}
.icon-range >p{
width:30px;
padding-top:2px;
}
.icon-range >img{
cursor:pointer;
height:18px;
width:18px;
}
.icon-range >img,.icon-range >p,.icon-range >input{
display:inline-block;
float:left;
}
.active[type=range]{
background:#CCC;
width:127px;
border:none;
outline:none;
-webkit-appearance:none;
border-radius:20px;
height:20px;
}
.active[type=range]::-webkit-slider-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(49,155,216);
-webkit-appearance:none;
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.active[type=range]::-webkit-slider-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-webkit-slider-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-ms-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(49,155,216);
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.active[type=range]::-ms-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-ms-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-moz-range-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(49,155,216);
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.active[type=range]::-moz-range-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-moz-range-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.active[type=range]::-webkit-slider-runnable-track{
background:rgb(49,155,216);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
.active[type=range]::-moz-range-track{
background:rgb(49,155,216);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
.active[type=range]::-ms-track{
background:rgb(49,155,216);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
.inactive[type=range]{
background:#CCC;
width:127px;
border:none;
outline:none;
-webkit-appearance:none;
border-radius:20px;
height:20px;
}
.inactive[type=range]::-webkit-slider-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(93,93,93);
-webkit-appearance:none;
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.inactive[type=range]::-webkit-slider-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-webkit-slider-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-ms-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(93,93,93);
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.inactive[type=range]::-ms-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-ms-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-moz-range-thumb{
cursor:pointer;
top:-8px;
background:white;
z-index:1;
width:20px;
border:4px solid rgb(93,93,93);
border-radius:100%;
position:relative;
height:20px;
box-sizing:border-box;
}
.inactive[type=range]::-moz-range-thumb:hover{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-moz-range-thumb:active{
box-shadow:0px 0px 6px 2px rgba(0,0,0,0.6);
}
.inactive[type=range]::-webkit-slider-runnable-track{
background:rgb(93,93,93);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
.inactive[type=range]::-moz-range-track{
background:rgb(93,93,93);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
.inactive[type=range]::-ms-track{
background:rgb(93,93,93);
width:120px;
margin:5px;
border-radius:0;
height:4px;
box-sizing:content-box;
}
