$deepBlue:rgb(30,104,179);
$skyBlue:rgb(49,155,216);
$lightGray:#CCC;
$deepGray:rgb(93,93,93);
$textColor:white;
$menuHeight:36px;
#shadow{
  z-index: 999;
  width: 100%;
  height: 100%;
  padding-top: $menuHeight;
  position: absolute;
  background-color: transparent;
  >div{
    width: 100%;
    height: 100%;
    background: white;
  }
}
p{
  display: inline-block;
  margin:0 0 0 9px;
  cursor: pointer;
  color: $textColor;
  font: 1.1em "黑体";
}
menu($height:$menuHeight;$textColor:white;$background:$deepBlue){
  min-width:1200px;
  text-align:center;
  margin: 0 auto;
  background:$background;
  height: $height;
  clear: both;
 .drop{
   max-width: 125px;
   width: 10%;
   position: relative;
   top:-10px;
 }
 .icon-range{
   max-width: 350px;
   min-width: 260px;
   width: 15%;
 }
.drop,.icon-range{
  height: $height;
  min-width: 100px;
  display: inline-block;
  padding-top: 9px;
  margin:0px auto;
  clear: both;
}
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow: hidden;

}
@mixin $switchBack($bk:red;$hbk:yellow){
  background-image: $bk;
  &:hover{
  background-image: $hbk;
}
}